<div class="navBarMobile">
   
	<a class="navbar-brand" href="#"><img src="../../assets/img/moovFor.png" alt="Avatar Logo" style="width:150px;float:left;margin-top:10px" ></a>

<nav class="navbar-mob" >

	<div class="nav-links">
	<ul>
		<li ><a class="nav-link" href="accueil" >ACCUEIL</a></li>
		<li ><a class="nav-link" href="#" style="color:#F9A23C; font-weight: 600">QUI SOMMES NOUS ? </a></li>
		<li ><a class="nav-link" href="formation">FORMATION</a></li>
		<li ><a class="nav-link" href="contact">CONTACT</a></li>
	</ul>
</div>
<mat-icon class="menu">menu</mat-icon> 
</nav>
</div>

<div class="navBar">

<nav class="navbar navbar-expand-sm bg-white navbar-light">
	<div class="container-fluid">
		<!-- Links -->
		<a class="navbar-brand" href="#"><img src="../../assets/img/moovFor.png" alt="Avatar Logo" style="width:130px;" ></a>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav ">
				<li class="nav-item"><a class="nav-link" href="accueil" style="margin-top: 5px;">ACCUEIL</a></li>
				<li class="nav-item"><a class="nav-link" href="#" style="margin-top: 5px;color:#F9A23C">QUI SOMMES NOUS ? </a></li>
				<li class="nav-item"><a class="nav-link" href="formation"style="margin-top: 5px;">FORMATION</a></li>
				<li class="nav-item"><a class="nav-link" href="contact"style="margin-top: 5px;float:right; margin-right: 10px">CONTACT</a></li>
				<div class="search-box">
					<button class="btn-search"><mat-icon>search</mat-icon></button>
					<input type="text" class="input-search" placeholder="Type to Search...">
				</div>
			</ul>
		</div>
	</div>
</nav>

</div>
<img  src="../../assets/img/nous.jpg" class="img-fluid" alt="Responsive image" style="width: 100%;min-height: 250px">
<div class="centered2"><strong>
Qui sommes nous ?
</strong>
</div>
<div class="bvn-nous">Bienvenue à

<div style="margin-top:10px">
Mouv 
<span style="color:#F9A23C">Formation
</span>
</div>
</div>
<div class="bvn-txt" style=" padding-top: 20px;"><span style="font-size:20px">
À partir d’une démarche pédagogique insistant sur la 
<strong>pratique</strong>
, le 
<strong>plaisir d’apprendre</strong>
 et la 
<strong>mémorisation</strong>
.</span>
</div>


<div class="information-nous" style="padding-top:40px"><div class="container5">
<div class="row"><div class="col-sm-3">
	<div  style="color: gray;font-size:50px">
		01
	</div>
	<h4 style="padding-top:30px">Pourquoi nois choisir</h4>
	<p style="color: gray;font-size:12px">
		Vous avez le confort d’apprendre de chez vous ou en salle, à votre rythme grâce à nos  formules
	</p>
</div>
<div class="col-sm-3">
	<div class="number" style="color: gray;font-size:50px">
		02
	</div>
	<h4 style="padding-top:30px">Notre mission</h4>
	<p style="color: gray;font-size:12px">
		Nous sommes à l’écoute de votre besoin, de votre branche professionnelle et nous construisons ensemble votre formation !
	</p>
</div>
<div class="col-sm-3">
	<div class="number" style="color: gray;font-size:50px">
		03
	</div>
	<h4 style="padding-top:30px">Notre visions</h4>
	<p style="color: gray;font-size:12px">
		Pour offrir un meilleur confort à nos stagiaires, nous leur offrons la possibilité de pouvoir rester en contact avec le formateur durant 6 mois après la formation pour toute question ou conseil.
	</p>
</div>
</div>
</div>
</div>
<div class="information-Moov"><div class="container2">
<div class="row"><div class="col-sm-5">
	<img src="../../assets/img/moovFor.png" alt="Avatar Logo" style="margin-top:5px">
	<div style="font-size:12px">
		<strong>Mouv Formation parfaite pour les cours en ligne et autres instituts. C’est une solution complète avec des caractéristiques et des fonctionnalités lms.</strong>
	</div>
</div>
<div class="col-sm">
	<div style="margin-top: 30px" >
		<strong>Contact</strong>
	</div>
	<div style="padding-top: 20px">
		<i class="bi bi-arrow-right-short" style="color:#F9A23C"></i>
		<span style="font-size:15px"><strong>Adresse: 10 Rue du Commandeur 75014 Paris</strong></span>
		<br>
		<i class="bi bi-arrow-right-short"style="color:#F9A23C"></i>
		<span style="font-size:15px"><strong>Email: contact@mouvformation.fr</strong></span>
		<br>
		<i class="bi bi-arrow-right-short" style="color:#F9A23C"></i>
		<span style="font-size:15px"><strong>Téléphone: 06 38 38 38 68 </strong></span>
		<br>
	</div>
</div>
<div class="col-sm">
	<div style="margin-top: 30px">
		<strong>Réseaux Sociaux</strong>
	</div>
	<div style="padding-top: 30px">
		<i class="bi bi-facebook" style="font-size: 30px; margin-right:10px"></i>
		<i class="bi bi-linkedin" style="font-size: 30px; margin-right:10px"></i>
		<i class="bi bi-instagram" style="font-size: 30px; margin-right:10px"></i>
		<i class="bi bi-whatsapp" style="font-size: 30px; margin-right:10px"></i>
	</div>
</div>
</div>
</div>
</div>
<div class="rows-Moov">© 2022 MOUV-FORMATION – Tous droits réservés.
</div>

