<nav class="navbar navbar-expand-sm bg-white navbar-light">
	<div class="container-fluid">
		<!-- Links -->
		<a class="navbar-brand" href="#"><img src="../../assets/img/moovFor.png" alt="Avatar Logo" style="width:130px;" ></a>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav ">
				<li class="nav-item"><a class="nav-link" href="accueil" style="margin-top: 5px">ACCUEIL</a></li>
				<li class="nav-item"><a class="nav-link" href="mouvFormation" style="margin-top: 5px;">QUI SOMMES NOUS ? </a></li>
				<li class="nav-item"><a class="nav-link" href="#"style="margin-top: 5px;color:#F9A23C">FORMATION</a></li>
				<li class="nav-item"><a class="nav-link" href="contact"style="margin-top: 5px;float:right; margin-right: 10px">CONTACT</a></li>
				<div class="search-box">
					<button class="btn-search"><mat-icon>search</mat-icon></button>
					<input type="text" class="input-search" placeholder="Type to Search...">
				</div>
			</ul>
		</div>
	</div>
</nav>
<img  src="../../assets/img/nous.jpg" class="img-fluid" alt="Responsive image" style="width: 100%">
<div class="centered2"><strong>
Formation
</strong>
</div>
<div class="bvn">Formation: Bilan de Compétences
</div>
<div class="bilan-competence"><br>
<br>
<span >CREATION ENTREPRISE </span>
<br>
<br>
◦ Public : Toute personne souhaitant créer une entreprise, individuelle ou en société : conseil, service, social, production. 
<br>
<br>
◦ Prérequis : Comprendre et savoir écrire Français 
<br>
<br>
◦ Objectifs : Évaluer la faisabilité et la viabilité de son projet de création d’entreprise, appréhender les problématiques financières et comptables, définir la structure juridique la plus appropriée à son activité et en mesurer les incidences fiscales et sociales, Acquérir les bases fondamentales pour créer et démarrer une entreprise. 
<br>
<br>
◦ Durée : 6 jours soit 40 heures 
<br>
<br>
◦ Moyens pédagogiques : Un travail de synthèse sous forme d’atelier. Cette séquence favorise la transposition en entreprise des principaux outils d’analyse stratégique. Processus d’évaluation : Mise en Situation 
<br>
<br>
◦ Accès à la formation : Sur entretient 
<br>
<br>
◦ Accessibilité : Les dates de formations sont choisies au moment de la contractualisation. L’environnement doit être approprié à la formation (vérification au cours d’un rendez-vous préalable). 
<br>
<br>
◦ Accessible aux personnes en situation de handicap sur entretien préalable. ◦ Délais d’accès : Les formations sont mises en place dans un délai de deux semaines. Lors de questions, recommandations les apprenants peuvent formuler leurs demandes par mail : contact@solutionformation.net ou par téléphone : 01.86.30.02.65 Les demandes d’assistance pédagogiques ou techniques sont traitées dans un délai de 24 à 48 heures. 
<br>
<br>
◦ Type d’évaluation : Mise en situation 
<br>
<br>
◦ Matériel : Tableau, Ordinateur 
<br>
<br>
◦ Modalité : Présentiel – Visio conférence 
</div>
<div class="prize-Moov"><div class="container6">
<div class="row"><div class="col-sm">
	<div style="padding-top:20px">
		<strong>  E-learning </strong>
	</div>
	<div style="color:#F9A23C;">
		<strong>800€</strong>
	</div>
	<button class="btn-inscr">Inscription en ligne</button>
</div>
<div class="col-sm">
	<div style="padding-top:20px">
		<strong> Visio</strong>
	</div>
	<div style="color:#F9A23C;">
		<strong>1000€</strong>
	</div>
	<button class="btn-inscr">Inscription en ligne</button>
</div>
</div>
</div>
</div>
<div class="bvn">Formation: Création d'entreprise
</div>
<div class="bilan-competence"><br>
<br>
L’accompagnement à la création d’entreprise vous permet :
<br>
<br>
De poser des bases solides pour votre future entrepriseDe bénéficier de conseils de professionnels expérimentésDe réunir les conditions optimales pour votre lancementDe vous donner confiance en tant que futur entrepreneurDe vous sentir épaulé(e) dans votre projet
</div>
<div class="prize-Moov"><div class="container6">
<div class="row"><div class="col-sm">
	<div style="padding-top:20px">
		<strong>  E-learning </strong>
	</div>
	<div style="color:#F9A23C;">
		<strong>800€</strong>
	</div>
	<button class="btn-inscr">Inscription en ligne</button>
</div>
<div class="col-sm">
	<div style="padding-top:20px">
		<strong> Visio</strong>
	</div>
	<div style="color:#F9A23C;">
		<strong>1000€</strong>
	</div>
	<button class="btn-inscr">Inscription en ligne</button>
</div>
</div>
</div>
</div>
<div class="information-Moov"><div class="container2">
<div class="row"><div class="col-sm-5">
	<img src="../../assets/img/moovFor.png" alt="Avatar Logo" style="margin-top:5px">
	<div style="font-size:12px">
		<strong>Solution Formation parfaite pour les cours en ligne et autres instituts. C’est une solution complète avec des caractéristiques et des fonctionnalités lms.</strong>
	</div>
</div>
<div class="col-sm">
	<div style="margin-top: 30px" >
		<strong>Contact</strong>
	</div>
	<div style="padding-top: 20px">
		<i class="bi bi-arrow-right-short" style="color:#F9A23C"></i>
		<span style="font-size:15px"><strong>Adresse: 10 Rue du Commandeur 75014 Paris</strong></span>
		<br>
		<i class="bi bi-arrow-right-short"style="color:#F9A23C"></i>
		<span style="font-size:15px"><strong>Email: mouv.formation75@gmail.com</strong></span>
		<br>
		<i class="bi bi-arrow-right-short" style="color:#F9A23C"></i>
		<span style="font-size:15px"><strong>Téléphone: 06 38 38 38 68 </strong></span>
		<br>
	</div>
</div>
<div class="col-sm">
	<div style="margin-top: 30px">
		<strong>Réseaux Sociaux</strong>
	</div>
	<div style="padding-top: 30px">
		<i class="bi bi-facebook" style="font-size: 30px; margin-right:10px"></i>
		<i class="bi bi-linkedin" style="font-size: 30px; margin-right:10px"></i>
		<i class="bi bi-instagram" style="font-size: 30px; margin-right:10px"></i>
		<i class="bi bi-whatsapp" style="font-size: 30px; margin-right:10px"></i>
	</div>
</div>
</div>
</div>
</div>
<div class="rows-Moov">© 2022 MOUV-FORMATION – Tous droits réservés.
</div>

